html {
  overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle at bottom, #020111 0%, #000000 100%);
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: #ffffffcc;
  font-weight: 600;
  text-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff66;
  animation: glow 2s infinite alternate;
  z-index: 10;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #00ffff;
  }

  to {
    text-shadow: 0 0 25px #00ffff, 0 0 50px #00ffff88;
  }
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite ease-in-out alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.3;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1.2);
  }
}

.shooting-star {
  position: absolute;
  width: 150px;
  height: 2px;
  background: linear-gradient(90deg, white, rgba(255, 255, 255, 0));
  border-radius: 50%;
  opacity: 0.8;
  transform: rotate(-45deg);
  animation: shoot 1.5s linear forwards;
  z-index: 5;
}

@keyframes shoot {
  0% {
    transform: translate(0, 0) rotate(-45deg);
    opacity: 1;
  }

  100% {
    transform: translate(-400px, 400px) rotate(-45deg);
    opacity: 0;
  }
}

.music-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 14px 32px;
  background: #00ffff33;
  border: 2px solid #00ffff;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-shadow: 0 0 10px #00ffff;
  transition: 0.4s;
  z-index: 20;
}

.music-btn:hover {
  background: #00ffff66;
  box-shadow: 0 0 15px #00ffff;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
}

.bg-video {
  top: 15rem;
  width: 95%;
  height: 30rem;
  object-fit: cover;
  z-index: 10;
  display: none;
  border-radius: 2rem;
  object-fit: cover;
}

.next-btn {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 25px;
  background: #00ffff33;
  border: 2px solid #00ffff;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  display: none;
  z-index: 20;
}

.next-btn:hover {
  background: #00ffff66;
  box-shadow: 0 0 10px #00ffff;
}

.video-box{
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.nextBtn{
  position: relative;
  top: -5rem;
}